#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
----------------------
| R Studio|
| Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by dividing by 60
hour = 200 / 60;
print(hour);

3.3333333333333335

**Objectives**
* Python 
* R
* SQL

## Author
Shraddha Subedi